
.main-container{
  border-radius: 20px !important;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  max-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
  padding: 10px 5px;

}
.job-info{
    padding: 8px 16px;
}
.company-info{
    display: flex;
    gap: 8px;
    align-items: start;
}
.company-info2{
    font-size: 16px;
    font-weight: 400;
}
.logo{
    width: 24px;
    height: 24px;
}

.job-description {
}

.show-more {
    display: none;
}

.job-description:hover .show-more {
    display: inline;
}